
<div class="container body-content">
    <div class="panel-heading"></div>
    <div class="panel-heading"></div>
    <div class="panel-heading"></div>
    <div class="container">
        <div class="form row" id="divReg">
            <form class="form-horizontal col-sm-offset-3 col-md-offset-3" id="register_form">
                <h3 class="form-title">修改密码</h3>
                <div id="errorBlock" style="color:#a94442;background-color:#f2dede;border-color:#ebccd1;padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px; display:none;">
                    <strong>提示：</strong>
                    <span id="errorSpan"></span>
                </div>
                @if (@ViewBag.ErrorMessage != null && @ViewBag.ErrorMessage != "" )
    {
            <div style="color:#a94442;background-color:#f2dede;border-color:#ebccd1;padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;">
                <strong>提示：</strong>
                <span>@ViewBag.ErrorMessage</span>
            </div>
}
                <div class="col-sm-5 col-md-5">
                    <div class="form-group">
                        <i class="fa fa-user fa-lg"></i>
                        <input class="form-control required" type="text" placeholder="用户名" name="username" id="username"  autofocus="autofocus" value="@ViewBag.OldUserName" />
                    </div>
                    <div class="form-group">
                        <i class="fa fa-lock fa-lg"></i>
                        <input class="form-control required" type="password" placeholder="旧密码" id="old_password" name="old_password" />
                    </div>
                    <div class="form-group">
                        <i class="fa fa-lock fa-lg"></i>
                        <input class="form-control required" type="password" placeholder="密码" id="register_password" name="register_password" />
                    </div>
                    <div class="form-group">
                        <i class="fa fa-check fa-lg"></i>
                        <input class="form-control required" type="password" placeholder="确认密码" name="rpassword" id="rpassword" />
                    </div>
                    <input type="hidden" id="txtRegHidden" name="txtRegHidden" value="" />
                    <div class="form-group">
                        <input type="submit" class="btn btn-success pull-right" id="btnReg" value="修改密码" />

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
   
    $('#btnReg').on("click", function () {
        var pas1 = $("#register_password").val();
        var pas2 = $("#rpassword").val();
        var usrname = $("#username").val();

        if (usrname == "") {
            $("#errorSpan").html("用户名不能为空");
            $("#errorBlock").show();
            return false;
        }

        if (old_password == "") {
            $("#errorSpan").html("旧密码不能为空");
            $("#errorBlock").show();
            return false;
        }
        if (pas1 == "") {
            $("#errorSpan").html("密码不能为空");
            $("#errorBlock").show();
            return false;
        }
        if (pas2 == "") {
            $("#errorSpan").html("确认密码不能为空");
            $("#errorBlock").show();
            return false;
        }
        if (pas2 != pas1) {
            $("#errorSpan").html("密码和确认密码不一致");
            $("#errorBlock").show();
            return false;
        }

        $("#txtRegHidden").val("repassword");
    });
</script>